<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>
<body>
	<h1>Agregando Nuevo Employee</h1>
	
	<form th:action="@{/guardados}" method="POST" th:Object="${Employees}">
	
	<label for="Name">NAME:</label><br>
	  <input type="text" class="input" name="FIRSTNAME"><br>
	  
	  <label for="Last_Name">LAST NAME:</label><br>
	  <input type="text" name="LASTNAME"><br>
	  
	  <label for="Email">EMAIL:</label><br>
	  <input type="text" name="EMAIL"><br>
	  
	  <label for="Phone_Number">PHONE NUMBER:</label><br>
	  <input type="text" name="PHONE_NUMBER"><br>
	  
	  <label for="Hire_Date">HIRE DATE</label><br>
	  <input type="text" name="HIRE_DATE"><br>
	  
	  <label for="Job_Id">JOB ID</label><br>
	  
	  <select name = "JOB_ID">
    	<option th:each="jobs : ${datosJobs}" th:value="${jobs.JOB_ID}" th:text="${jobs.JOB_TITLE}">
    	</option>													
		</select>
		<br>

	  <label for="Salary">SALARY</label><br>
	  <input type="text" name="SALARY"><br>
	  
	  <label for="Manager_Id">MANAGER ID</label><br>
	  <input type="text" name ="MANAGER_ID"><br>
	  
	  <label for="Job_Id">DEPARTMENT ID</label><br>
	   
	   <select name="DEPARTMENT_ID">
    	<option th:each="department : ${datosDepartments}" th:value="${department.DEPARTMENT_ID}" th:text="${department.DEPARTMENT_NAME}">
    	</option>
		</select>
		<br>
	  
	  	<br>
	  
	  	<input type="submit" class="btn btn-primary" value="Guardar">
	  </form>
</body>
</html>